asn1crypto
attrs
blinker
certifi
cffi
charset-normalizer
click
colorama
et_xmlfile
Flask>=2.3.0
Flask-Cors
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-SocketIO
greenlet>=3.0.0
gunicorn
h11
idna
itsdangerous
Jinja2
Mako
MarkupSafe
numpy
openpyxl
outcome
packaging
pandas
pg8000
playwright
psycopg2-binary
pycparser
pyee
PyJWT
PySocks
python-dateutil
python-dotenv
python-engineio
python-socketio
pytz
requests
schedule
scramp
selenium
simple-websocket
six
sniffio
sortedcontainers
SQLAlchemy>=2.0.0
trio
trio-websocket
typing_extensions
tzdata
urllib3
webdriver-manager
websocket-client
Werkzeug>=2.3.0
wsproto
alembic
bidict
